<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,700i,800">
</head>
<body>
    <div class="container mt-4 mb-4"> 
        <h1 class="mb-3">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success"><strong>New Article</strong></a>

        <div class="row">
            <% articles.forEach(article => { %>
            <div class="col-xl-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="card-title"><%= article.title %></h4>
                        <div class="card-subtititle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2">
                            <%= article.description %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>