<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,700i,800">
</head>
<body>
    <div class="container mt-4 mb-4">
        <h1 class="mb-3 text-center">Edit Article</h1>

        <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-xl-6 offset-3">
                    <%- include('_form_fields') %>
                </div>
            </div>
        </form>
    </div>
</body>
</html>